body{
  text-align: center;
  align-content: center;

}
.btn-container{
  display:flex;
  align-items: center;
  justify-content: center;
}
.btn{
  height:150px;
  width:150px;
  border:4px solid black;
  margin:0.25rem;
  border-radius: 20px;
}
.red{
  background-color: rgb(142, 54, 54);
}
.blue{
  background-color: rgb(71, 56, 159);
}
.yellow{
  background-color: rgb(201, 174, 52);
}
.green{
  background-color: rgb(64, 125, 64);
}
.blink{
  background-color: White;
}
.blinkuser{
  background-color: rgb(4, 5, 2);
}